<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cargar Producto</title>
        <script src="https://kit.fontawesome.com/a4e61d7a9e.js"></script>
        <link rel="stylesheet" href="/css/cargar.css">
    </head>
    <body>
        <%-include('../partials/header')   %> 
        <main>
            <figure class="img-figure">
                <img src="../../../img/production.svg" >
                <label>No olviden llenar todos los campos!</label>
            </figure>
            <div class="cont">
                <div class="img-curso">
                    <h2 id="titulo">Nuevo producto</h2>
                </div>
                <form class="form-cargar" action="/producto/carga" method="POST" enctype="multipart/form-data">
                    <input type="text" name="titulo" placeholder="Nombre del curso:">
                    <div class="inpu">
                    
                        <div class="tex-ifo"> 
                            <input class="pro" type="text" name="basico" placeholder="Profesor nivel basico:">
                            <input class="precio" type="text" name="precioBaisco" placeholder="Precio:">
                        </div>
                        <div class="tex-ifo">
                            <input class="pro" type="text" name="medio" placeholder="Profesor nivel intermedio:">
                            <input class="precio"  type="text" name="precioMedio" placeholder="Precio:">
                        </div>
                        <div class="tex-ifo">
                            <input class="pro" type="text" name="avanzado" placeholder="Profesor nivel avanzado:">
                            <input class="precio"  type="text" name="precioAvanzado" placeholder="Precio:">
                        </div>
                    </div>
                    <div class="agregar-img">
                        <input type="file" name="imgProduct" required>
                    </div>
                    <div class="btn">
                        <button type="submit">Agregar</button>
                    </div>
                </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

    </body>
    
</html>