<!DOCTYPE html>
<html lang="es">
    <head>
        <%-include('../partials/head') %> 
        <link rel="stylesheet" href="/css/cargar.css">
        <title>Cargar Cursos</title>
      </head>

    <body class="body">
        <%-include('../partials/header') %> 
        
        <main>
            <figure class="img-figure">
                <img src="../../../img/production.svg" >
                <label>No olviden llenar todos los campos!</label>
            </figure>
            <div class="cont">
                <div class="img-curso">
                    <h2 id="titulo">Cargar Curso</h2>
                </div>
                <form class="form-cargar" action="/producto/carga" method="POST" enctype="multipart/form-data">
                    <input type="text" name="titulo" placeholder="Nombre del curso:">
                    <section class="inpu">
                        <div class="tex-ifo"> 
                            <input class="pro" type="text" name="profesor" placeholder="Profesor/ra:">
                            <input class="precio" type="text" name="precio" placeholder="Precio:">
                        </div>
                        <div class="inf-basica">
                            <div class="div">
                                <label><i class="fa-solid fa-circle-user"></i> Est.</label>
                                <input type="text" name="estudiantes">
                            </div>
                            <div class="div">
                                <label>Lecciones</label>
                                <input type="text" name="lecciones">
                            </div>
                            <div class="div">
                                <label><i class="fa-regular fa-clock"></i> Horas</label>
                                <input type="text" name="horas">
                            </div>
                            <div class="div">
                                <label><i class="fa-solid fa-star"></i> Punt.</label>
                                <input type="text" name="puntuacion">
                            <div>
                        </div>
                    </section>
                    <div class="final">
                        <div class="file">
                            <input name="imgProduct" type="file">
                        </div>
                        <div class="check-form">
                            <label>Nivel de dificultad:</label>
                            <select class="select" name="nivel" >
                                <option selected value="basico">Basico</option>
                                <option value="intermedio">Intermedio</option>
                                <option value="avanzando">Avanzando</option>
                            </select>
                        </div>
                        <div class="form-descrip">
                            <textarea placeholder="Descripción..." class="descripcion" maxlength="125" name="descripcion" id="" cols="2" rows="5"></textarea>
                        </div>
                        <div class="btn">
                            <button type="submit">Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <%- include('../partials/footer') %>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    
</html>