<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('../partials/head', ) %>
    <!-- {title: 'Editando: ' +  producto.titule } -->
    <link rel="stylesheet" href="/css/editar.css">
    <!-- <title>Editar Cursos</title> -->
</head>

<body class="body">
    <%-include('../partials/header') %>

    <main>
        <figure class="img-figure">
            <img src="../../../img/chart.svg" >
            <label></label>
        </figure>
        <div class="cont">
            <div class="img-curso">
                <h2 id="titulo">Editar Curso</h2>
                <!-- <h3 class="products-title">Estás editando: <i>< %=curso.name %></i></h3> -->
            </div>
           <!--  <form class="form-cargar" action="/producto/edita< %= curso.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="text" name="titulo" value="< %=curso.name %>" placeholder="Nombre del curso:">
                <div class="inpu">
                
                    <div class="tex-ifo"> 
                        <input class="pro" type="text" name="basico" value="< %=curso.profesorBasico %>" placeholder="Profesor nivel basico:">
                        <input class="precio" type="text" name="precioBaisco" value="< %=curso.precioBasico %>" placeholder="Precio:">
                    </div>
                    <div class="tex-ifo">
                        <input class="pro" type="text" name="medio" value="< %=curso.profesorMedio %>" placeholder="Profesor nivel intermedio:">
                        <input class="precio"  type="text" name="precioMedio" value="< %=curso.precioMedio %>" placeholder="Precio:">
                    </div>
                    <div class="tex-ifo">
                        <input class="pro" type="text" name="avanzado" value="< %=curso.profesorAvanzado %>" placeholder="Profesor nivel avanzado:">
                        <input class="precio"  type="text" name="precioAvanzado" value="< %=curso.precioAvanzado %>" placeholder="Precio:">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <label for="lang" class="form-label">Idioma:</label>
                    < %if (curso.lang=="al") { %>
                    <select name="lang" id="lang" class="form-input">
                        <option value="">Elegí</option>
                        <option value="al">Alemán</option>
                        <option value="in">Inglés</option>
                        <option value="po">Portugués</option>
                        <option value="es">Español</option>
                    </select>
                    < % } else { %>
                        <select name="lang" id="lang" class="form-input">
                        <option value="al">Alemán</option>
                        <option value="in">Inglés</option>
                        <option value="po">Portugués</option>
                        <option value="es">Español</option>
                        </select>
                    < % } %>
                </div>
                <div class="agregar-img">
                    <input type="file" name="imgProduct" required>
                </div>
                <div class="col-12">
                    <label for="description" class="form-label">Descipción:</label>
                    <textarea name="description" id="description" class="form-input">< %= curso.description %></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="buy-now-button">Guardar producto</button>
                </div>
                <div class="btn">
                    <button type="submit">Modificar</button>
                </div>
            </form> -->
        </div>
    </main>

    <%-include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>