<!DOCTYPE html>
<html lang="es">
<head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="/css/cursos.css">
    <title>Editar Cursos</title>
</head>

<body>
    <%-include('../partials/header') %>
    <main>
        <h2>Formulario editar producto</h2>
    </main>
    <%-include('../partials/footer') %>
</body>
</html>