<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
rel="stylesheet"/>
  <link rel="stylesheet" href="/css/style.css">
  <title>MOIDI HOUSE</title>
</head>
<body>
      <header class="navbar">
        <div class="navbar-left">
            <svg class="logo" href="/img/logo-moidi.svg"></svg>
            <div class="cursos"><a href="cursos.html">Cursos</a></div>
            <div class="descargables"><a href="descargables.html">Descargables</a></div>
            <div class="traductor"><a href="traductor.html">Traductor</a></div>
            <div class="suscripciones"><a href="suscripciones.html">Suscripciones</a></div>
            <div class="contacto"><a href="contacto.html">Contacto</a></div>
            <div class="idioma">Idioma</div>
            </div>
        <div class="navbar-right">
            <input type="search" class="buscar" placeholder="Buscar"><i class="fa-solid fa-magnifying-glass"></i></input>
            <div class="registrarse">Registrarse</div>
            <div class="inises">Iniciar sesion</div>
        </div>
      </header>
      <div class="main-content"></div>
      <footer class="region-prefooter"></footer>
      <footer class="region-footer"></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>