<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/css/style2.css">
  <link href="//db.onlinewebfonts.com/c/d7e8a95865396cddca89b00080d2cba6?family=SoDo+Sans+SemiBold" rel="stylesheet" type="text/css"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>WELCOME TO MOIDI HOUSE</title>
</head>
<body>
      <header class="navbar">
        <div class="navbar-left">
            <svg class="logo" href="/public/img/logo MOIDI.svg"></svg>
            <div class="cursos">Cursos</div>
            <div class="descargables">Descargables</div>
            <div class="traductor">Traductor</div>
            <div class="suscripciones">Suscripciones</div>
            <div class="contacto">Contacto</div>
            <div class="idioma">Idioma</div>
            </div>
        <div class="navbar-right">
            <input type="search" class="buscar" placeholder="Buscar"><svg id="lupa" src="/public/img/lupa.png"></svg></input>
            <div class="registrarse">Registrarse</div>
            <div class="inises">Iniciar sesion</div>
        </div>
      </header>
      <div class="main-content"></div>
      <footer class="region-prefooter"></footer>
      <footer class="region-footer"></footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>