*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(../img/background.jpg);
}

.logo {
  background-image: url(/img/logo-moidi.svg);
  background-size: cover;
  width: 100px;
  height: 70px;
}

.navbar {
  font-size: 12px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.navbar-left div{   
  text-transform: capitalize;
  font-weight: 100;
}

.navbar-left>*,
.navbar-right>*{
  margin: 1px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-left a {
  text-decoration: none;
  color: #000;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-right button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color:#fff;
}

.magnifying-glass-icon {
  text-decoration: none;
  color: #000;
}

.registrarse{
  background-color: #Eec8c7;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
}

.registrarse a {
  text-decoration: none;
  color: #c24844;
}

.inises {
  background-color: #c24844; 
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  
}

.inises a {
  text-decoration: none;
  color: white;
}

.buscar {
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}

.shop-cart-icon i {
  right: 3px;
  font-size: 20px;
  padding: 5px;
  border: #000 2px solid;
  border-radius: 50px;
}

.shop-cart-icon a {
  text-decoration: none;
  color: #000;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
.marco {
  border: solid 3px #a74b61;
  border-radius: 20px;
  height: 700px;
  margin: 10%;
  margin-top: 10%;
  box-shadow: 0px 0px 10px rgba(170, 53, 68, 0.726);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px); 
  padding: 10px;
  display: flex;
}
.container{
height: 100%;
}
.contain-hed{
display: flex;
align-items: center;
height: 10%;
padding-left: 10px;
padding-right: 10px;
justify-content: space-between;
}
.title{
font-size: 15px;
font-weight: 700;
}
.carrito-img{
  background-image: url(../img/carb.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 5vw;
  width: 5vw;
}
.container-products{
height: 65%;
}
.object1, .object2 {
display: flex;
height: 45%;
background-color: rgba(237, 248, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
border-radius: 10px;
padding: 5px;
margin-bottom: 10px;
}
.trash-obj1, .trash-obj2 {
  height: 5vw;
  width: 5vw;
  margin: 10px;
  background-image: url(/img/trash.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.logo-obj1{
  width: 200px;
  background-image: url(/img/paises/inglaterra-figuras.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 10px;
}
.info, .info2 {
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 
  "a a c"
  "d e f"
  "g g i"; */
  height: auto;
  width: 60%;
  padding-left: 8%;
  font-size: 14px;
}
.c, .c2 {
  grid-area: a;
  font-weight: 600;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
.n, .n2 {
grid-area: d;
margin: 10px;
margin-top: 0;
}
.p, .p2 {
grid-area: g;
margin: 10px;
}
.price, .price2 {
grid-area: i;
margin: 10px;
}

.logo-obj2{
  /* height: auto; */
  width: 200px;
  background-image: url(/img/paises/brasil-figuras.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 10px;
}

.cont-tot{
display: flex;
justify-content: center;
margin-top: 10px;
height: 10%;
}
.totals{
width: 200px;
text-align: center;
padding: 10px;
padding-right: 40px;
/* margin-top: 0; */
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1); 
border-radius: 5px;
}
.totals-list {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
}
.cuotas {
text-decoration: none;
color: #a74b61;
font-size: 12px;
}
.cuotas:hover {
  color: #a74b61;
}
.totals li{
display: grid;
color: #a74b61;
}
.cont-butt{
height: 20vh;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;
}

.comprar {
width: 100px;
padding: 5px;
border: solid 1px white;
border-radius: 20px;
background-color: #a74b61;
color: #fff;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
.main-content {
  text-align: center;
}

.whatsapp-icon i {
  font-size: 70px;
  margin-left: 20px;
  margin-bottom: 70px;
}

.whatsapp-icon a {
  text-decoration: none;
  color: #000;  
}

.footer-container {
  position: relative;
  min-height: 100vh;
}

.footer-content {
  background-color: #000;
  padding: 3px;
  margin-top: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.footer-content ul {
  margin: 0;
}

.footer-content i {
  color: #ffffff;
  font-size: 20px;
  margin: 8px 0;  
}

@media (max-width: 768px) {
  .navbar-left {
    display: none;
  }
  .logo-obj1, .logo-obj2 {
    display: none;
  }

}

@media (min-width: 769px) {
/* .burger-menu {
  display: none;
}*/
.navbar-left>* {
  margin: 0 5px;
}
.navbar-right>* {
  margin: 0 2px;
}
.title{
  font-size: 20px;
  font-weight: 700;
  }
  .info, .info2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "a a c"
    "d e f"
    "g g i";
    font-size: 16px;
  }
.trash-obj1, .trash-obj2 {
  height: 3vw;
  width: 3vw;
}
.cuotas {
  font-size: 14px;
}
.footer-content {
  display: flex;
  justify-content:space-between;
  padding: 0 15px;
}
.footer-content p {
  padding: 10px 0;
}
}

@media (min-width: 1200px) {
.logo {
  width: 120px;
  height: 90px;
}
.navbar {
  font-size: 16px;
}
.navbar-left>* {
margin: 0 10px;
}
.navbar-right>* {
margin: 0 5px;
}
.main-content {
  position: relative;
}
.title{
  font-size: 40px;
  font-weight: 700;
  }
.info, .info2 {
  font-size: 18px;
}
.trash-obj1, .trash-obj2 {
  height: 2vw;
  width: 2vw;
}
}