*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(../img/background.jpg);
  
  
  /* background-size: contain; */
  /* background-attachment: fixed; */
}

.logo {
  background-image: url(/img/logo-moidi.svg);
  background-size: cover;
  width: 100px;
  height: 70px;
}

.navbar {
  font-size: 12px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.navbar-left div{   
  text-transform: capitalize;
  font-weight: 100;
}

.navbar-left>*,
.navbar-right>*{
  margin: 3px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-left a {
  text-decoration: none;
  color: #000;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-right button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color:#fff;
}

.registrarse{
  background-color: #Eec8c7;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
}

.registrarse a {
  text-decoration: none;
  color: #c24844;
}

.inises {
  background-color: #c24844; 
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  
}

.inises a {
  text-decoration: none;
  color: white;
}

.buscar {
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}

.main-content {
  text-align: center;
}

.home-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.home-title {
  font-size: 50px;
  font-weight: 600;
  margin: 30px 10px;
}

.home-text {
  font-size: 16px;
  text-align: center;
}

.home-button {
  border: none;
  border-radius: 5px;
  background-color:#C24844;
  color: #ffffff;
  font-size: 14px;
  padding: 8px;
  margin-left: 150px;
}

.home-img {
  width: 100vw;
  margin-top: 10px;
}

.section-courses-now, .section-courses-next {
  width: 90vw;
  text-align: left;
  margin: auto;
}

.courses-title {
  margin: 30px 0;
}

.courses-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 90vw;
  box-shadow: 0px 0px 10px rgb(100 , 100 , 100);
  margin-bottom: 20px;
}

.card a {
  text-decoration: none;
  color: #000;
}

.section-courses-now card:hover {
  background-color: rgba(255,0,0,0.5);
}

.whatsapp-icon {
  position: relative;
}

.whatsapp-icon i {
  font-size: 50px;
  margin-left: 20px;
}

.whatsapp-icon a {
  text-decoration: none;
  color: #000;
}

.footer-container {
  position: relative;
  display: flex;
  height: 100px;
  margin: auto;
}

.footer-content {
  background-color: #000;
  padding: 3px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.footer-content ul {
  margin: 0;
}

.footer-content i {
  color: #ffffff;
  font-size: 20px;
  margin: 8px 0;  
}

@media (max-width: 768px) {
  .navbar-left {
    display: none;
  }
}

@media (min-width: 769px) {
/* .burger-menu {
  display: none;
}*/
.navbar-left>* {
  margin: 0 5px;
}
.navbar-right>* {
  margin: 0 2px;
}
.home-img {
  width: 80vw;
  margin: auto;
  margin-top: 10px;
}
.card {
  width: 40vw;
}
.card:hover {
  background-color: rgba(0,0,0,0.5);
  transition: all 450ms;
}
.footer-content {
  display: flex;
  justify-content:space-between;
  padding: 0 15px;
}
.footer-content p {
  padding: 10px 0;
}
}

@media (min-width: 1200px) {
.logo {
  width: 120px;
  height: 90px;
}
.navbar {
  font-size: 16px;
}
.navbar-left>* {
margin: 0 10px;
}
.navbar-right>* {
margin: 0 5px;
}
.main-content {
  position: relative;
}
.courses-cards{
  flex-wrap: nowrap;
}
.card {
  width: 20vw;
}
.home-img {
  width: 40vw;
  margin: 10px 0;
}
.home-details {
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.home-details-text {
  flex-wrap: wrap;
  align-content: center;
}
.home-button {
  margin: 5px 150px;
}
}



/*-------------Css de cursos parte main ----------------*/

.principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 100%;
  
}

.cabecera{
  height: 50%;
  margin-left: 20%;
  margin-top: 100px;
}
.cabecera > h1{
  font-weight: 900;
  font-size: 50px;
}

.cursos-info{
  background-color: #ffffff;
  border: solid 3px #a74b61;
  display: flex;
  width: 65%;
  height: 400px;
  margin: auto;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.726); 
  padding: 40px;
  padding-top: 30px;
  margin-top: 40px;
}
.superiro-curso{
  display: flex;
  flex-direction: column;
  height: 35%;
}
.titulo{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: bold;
}

.btn-test{
  background-color: #da1543c5;
  color: #fff;
  margin-bottom: 30px;
  padding: 8px;
  width: 100px;
  border: none;
  border-radius: 10px;
  text-align: center;
  
}
.btn-test:hover{
  transform: scale(1.03);
}
.contenido-info{
  display: flex;
  background-color: #eee;
  padding: 20px;
  border-radius: 20px;
  height: 65%;
  text-align: center;
}
.informacion{
  width: 80%;
  
}

.img-curso{
  width: 20%;
  border-radius: 10px;
  height: 100%;

}

.titulo-colum{
  font-size: 20px;
  
}

.img-curso{
  width: 250px;
}

.icon-info > button  {
  background-color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.icon-info > button:hover{
  transform: scale(1.1);
}

.img-res{
  display: none;
}

@media (max-width: 1500px) {
  .cursos-info{
    width: 80%;

  }
}

@media (max-width: 1100px) {
  .cursos-info{
    width: 90%;

  }
}


@media (max-width: 800px) {
  .cursos-info{
    width: 95%;

  }
  .img-res{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    width: 100px;
    right: 20px;
  }

  .img-res> img{
    width: 100%;
    height: 100%;
  }

  
  .cursos-info{
    height: 100%;
    padding: 15px;
  }
  .contenido-info{
    flex-direction: column;
    
    justify-content: center;
    padding: 0px;
  }
  .img-con{
    display: none;
    
  }
  .superiro-curso{
    position: relative;
  }
  
  .informacion{
    margin-top: 10px;
    width: 100%;
    height: 100%;
  }
}