main{
  min-height: 800px;
  
}


.setion{
  position: relative;
  height: 650px;
  width: 350px;
  margin: auto;
  display: flex;
}


.main{
  display: flex;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}


.principal{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: 100%; 
  position: relative;
}

.cabecera{
  margin-left: 30px;
  margin-top: 50px;
}
.cabecera > h1{
  font-weight: 600;
  font-size: 50px;
}


.contenido-cursos{
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 540px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
  margin: auto;
  margin-top: 40px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 80px;

}

.img-cursos{
  display: flex;
  height: 45%;
  justify-content: center;
  border-radius: 20px 20px 3px 3px;
}

.img-cursos > img{
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);

}

.descripcion-cursos{
  height: 310px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.titulo-curso{
  height: 30px;
  width: 100%;
  text-align: center;
}

.titulo-curso >h2{
  font-weight: 400;
  font-size: 25px;
}
.estudiantes{
  width: 100%;
  height: 30px;
  text-align: center;
}
.estudiantes > label{
  font-weight: 300;
  font-size: 12px;

}

.estudiantes > label > i{
  font-size: 15px;
  color: #ccc;
}

.info-precios{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.info-precios > div{
  border: 1px  solid rgba(0, 0, 0, 0.423);
  border-radius: 20px;
  padding: 5px;
}

.info-precios > div > img{
  width: 16px;
  margin-bottom: 2px;
}

.info-precios > label{
  margin-top: 5px;
  font-weight: bold;
}

.profesor{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.profesor > label{
  font-weight: 300;
}

.profeCurso{
  text-transform: capitalize;
}


.horas-curso{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 55px;
  margin-top: 10px;
}

.horas{
  width: 27%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 2px;
  text-align: center;
  border-radius: 3px;
}


.abajo-h{
  font-weight: 100;
}

.arriba-h > .fa-clock{
  font-size: 15px;
  margin-right: 2px;
}

.arriba-h > .fa-star{
  font-size: 15px;
  color: rgb(237, 213, 34);
  margin-left: 2px;
}

.curso-agregar{
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center;
  position: relative;
}

#btn-curso{
  width: 40%;
  height: 35px;
  text-decoration: none;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: #fff;
  border-radius: 10px;
  padding-top: 5px;
  text-align: center;
  transition: all 300ms ease;
} 

#btn-curso:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  transform: scale(1.05);
}

.small-des{
  position: absolute;
  width: 100%;
}

.small-des > label{
  right: 25px;
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.178);
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  margin-top: 2px;
  padding-top: 2px;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0.801);
  top: -198px;
}


.small-des> label:hover{
  box-shadow: 0px 0px 2px rgba(0,0,0,4);
}

.small-desescription{
  width: 275px;
  height: 100px;
  z-index: -10;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  position: absolute;
  font-size: 14px;
  transition: all 500ms ease;
  padding: 5px;
  text-overflow:ellipsis;
  visibility: hidden;
  opacity: 0;
  color: white;
  border-radius: 0px 0px 6px 6px;
  padding-left: 10px;
  text-align: justify;
  padding-right: 10px;
  top: 451px;
  left: 40px;
  margin-top: 1;
  padding-top: 15px;
}

.input23{
  display: none;
}


.input23:checked + .small-desescription{
  transition: all 500ms ease;
  opacity:  1;
  visibility: visible;
  margin-top: 120px;
}

.s-llave{
  width: 100%;
  position: absolute;
}

.llave{
  left: 25px;
  position: absolute;
  text-decoration: none;
  width: 35px;
  height: 35px;
  border-radius: 40px;
  padding-top: 5px;
  background-color: #2898ee;
  color: white;
  transition: all 300ms ease;
}

.llave:hover{
  color: white;
  transform: scale(1.05);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

#eliminar{
  position: absolute;
  
  right: 25px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  border: none;
}

#eliminar> i{
  color: #b12a5b;
}

#eliminar:hover{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

/* responsive */


@media (min-width: 300px){

  /* .body{
    background-size: auto !important;
  } */
}

@media (min-width: 1300px){

  .main{
    width: 80%;
  }
}


@media (min-width: 1400px){

  /* .body{
    background-size: contain !important;
  } */
}


@media (min-width: 1700px){

  /* .body{
    background-size: cover !important;
  } */
}



