<<<<<<< HEAD
.marco {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 750;
  font-size: 15px;
  border: solid 3px #a74b61;
  border-radius: 20px;
  height: 500px;
  margin: 5%;
  margin-top: 5%;
  box-shadow: 0px 0px 10px rgba(170, 53, 68, 0.726);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px); 
=======
main{
  height: 500px;
}
.img-curso{
  margin-top: 10%;
}

.img-figure{
  background-image: linear-gradient(to right, #ed6ea0 0%, #ec8c69 100%);
  border-radius: 18px 18px 0px 0px;
  height: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}


.img-figure>label{
  position: absolute;
  bottom: 20px;
  font-weight: 100;
}

.img-figure > img{
  width: 300px;
  
}

.cont{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.form-cargar{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-cargar > input{
  width: 70%;
  margin: auto;
  border: none;
  background-color: #eee;
>>>>>>> 45b3efd37a11091d31bde12e40bfbc1d3dc69963
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.cont-sup {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  display: flex;
  justify-content: space-between;
}
.cont-imgp{
  height: 10vw;
  width: 10vw;
  background-color: rgba(170, 53, 68, 0.2);
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  border-radius: 50%;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.edit{
  height: 35px;
  padding: 10px;
  text-decoration: none;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: #fff;
  border-radius: 10px;
  padding-top: 5px;
  text-align: center;
  transition: all 300ms ease;
  align-self: center;
}
.edit a{
  color: #fff;
  text-decoration: none;
}

.edit:hover{
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  transform: scale(1.05);
}
.tit-per {
  font-size: 25px;
  align-self: center;
}
.cont-inf{
  display: flex;
}
.inf-p{
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}
.tit-inf{
  font-size: 20px;
  display: grid;
  text-align: center;
  
}
.inf-p p{
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(170, 53, 68, 0.2);
  padding-left: 10px;
}
.cont-curs .cont-inf{
  align-items: flex-end;
}
.cont-curs{
  width: 50%;
  display: grid;
  justify-content: center;
  background-color: rgba(170, 53, 68, 0.2);
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.cont-curs a{
  height: 35px;
  padding: 10px;
  text-decoration: none;
  background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
  color: #fff;
  border-radius: 10px;
  padding-top: 5px;
  text-align: center;
  transition: all 300ms ease;
}
.img-cur {
height: 100px;
width: 100px;
justify-self: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
@media (max-width: 768px) {

}
@media (min-width: 769px) {

}
@media (min-width: 1200px) {

}