*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-image: url(../img/background.jpg);
}

.logo {
  background-image: url(/img/logo-moidi.svg);
  background-size: cover;
  width: 100px;
  height: 70px;
}

.navbar {
  font-size: 12px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.navbar-left div{   
  text-transform: capitalize;
  font-weight: 100;
}

.navbar-left>*,
.navbar-right>*{
  margin: 1px;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-left a {
  text-decoration: none;
  color: #000;
}
.navbar-right{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar-right button {
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color:#fff;
}

.magnifying-glass-icon {
  text-decoration: none;
  color: #000;
}

.registrarse{
  background-color: #Eec8c7;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
}

.registrarse a {
  text-decoration: none;
  color: #c24844;
}

.inises {
  background-color: #c24844; 
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  
}

.inises a {
  text-decoration: none;
  color: white;
}

.buscar {
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}

.shop-cart-icon i {
  right: 3px;
  font-size: 20px;
  padding: 5px;
  border: #000 2px solid;
  border-radius: 50px;
}

.shop-cart-icon a {
  text-decoration: none;
  color: #000;
}

.main-content {
  text-align: center;
}

.whatsapp-icon {
  position: relative;
}

.whatsapp-icon i {
  font-size: 50px;
  margin-left: 20px;
}

.whatsapp-icon a {
  text-decoration: none;
  color: #000;
}

.footer-container {
  display: flex;
  margin: auto;
}

.footer-content {
  background-color: #000;
  padding: 3px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-content p {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  margin: 0;
}
.footer-content ul {
  margin: 0;
}

.footer-content i {
  color: #ffffff;
  font-size: 20px;
  margin: 8px 0;  
}

@media (max-width: 768px) {
  .navbar-left {
    display: none;
  }
}

@media (min-width: 769px) {
/* .burger-menu {
  display: none;
}*/
.navbar-left>* {
  margin: 0 5px;
}
.navbar-right>* {
  margin: 0 2px;
}
.footer-content {
  display: flex;
  justify-content:space-between;
  padding: 0 15px;
}
.footer-content p {
  padding: 10px 0;
}
}

@media (min-width: 1200px) {
.logo {
  width: 120px;
  height: 90px;
}
.navbar {
  font-size: 16px;
}
.navbar-left>* {
margin: 0 10px;
}
.navbar-right>* {
margin: 0 5px;
}
.main-content {
  position: relative;
}
}

/*---------------- CSS DEL FORMULARIO ---------------------*/
#titulo{
  margin-left: 16%;
  text-align: left;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.726);
}
.form-cont{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 25%;
  border: solid 3px #a74b61;
  border-radius: 20px;
  height: 700px;
  text-align: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.726); 
}

.btn-form{
  width: 70%;
  border: none;
  background-color: #eee;
  margin-top: 20px;
  align-self: center;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  
}

#btn-crear{
  background-color: #a74b61;
  color: #ffffff;
  border: none;
  width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px white;
}

#btn-crear:hover{
  background-color: #da1543c5;;
}

.o{
  font-size: 17px;
  text-align: center;
  width: 80%;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  align-self: center;
  margin-top: 15px;
  height: 16px;
}
#o{
  color: #a74b61;
  text-transform: bold;
}

.btn-ingresar{
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn-icon{
  width: 20%;
  background-color: #d1e0ff;
  border: none;
  margin: 10px;
  padding: 7px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 200ms;
  display: flex;
  justify-content: center;

}


.btn-icon:hover{
  transform: scale(1.1);
}

.btn-icon > .fa-linkedin , .btn-icon > .fa-facebook{
  font-size: 20px;
  right: 5px;
}

.a{
  margin-top: 10px;
  color: #a74b61;
  text-decoration: none;
}

.a:hover{
  color:  #da1543c5;
}

/*diseño adaptativo */


@media (max-width: 1600px){
    .form-cont{
        width: 30vw;
    }
}

@media (max-width: 1200px){
    .form-cont{
        width: 40vw;
    }
}

@media (max-width: 950px){
    .form-cont{
        width: 45vw;
    }
}


@media (max-width: 760px){
    .form-cont{
        width: 60vw;
    }
}

@media (max-width: 580px){
    .form-cont{
        width: 70vw;
    
    }

}

@media (max-width: 480px){
    .form-cont{
        width: 80vw;
      
    }
    main{
        height: 700px;
    }
}

@media (max-height: 1000px ) and (min-height:100px){
  .footer-container{
    margin: auto;
    position: relative;
    height: 200px;
    bottom: 0px;
  }
}





