.home-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 50px;
    font-weight: 600;
    margin: 30px 10px 10px;
}

.home-text {
    font-size: 16px;
    text-align: center;
}

.home-details-text{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding-bottom: 10px;
    border-radius: 10px;
    width: 95%;
    height: 200px;
    margin-top: 20px;
}

.home-details-text > button{
    margin: auto;
}
.home-button {
    border: none;
    border-radius: 5px;
    background-color: #ed5145;  /* #C24844 */
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    margin-left: 150px;
}
.home-button > a, .home-button > a:hover {
    color: #fff;
    text-decoration: none;
}

.home-img {
    width: 100vw;
    margin-top: 10px;
}

.section-courses-now, .section-courses-next {
    width: 90vw;
    text-align: left;
    margin: auto;
}

.courses-title {
    margin: 100px 0 40px;
}

.courses-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 90vw;
    box-shadow: 0px 0px 10px rgb(100 , 100 , 100);
    margin-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: #000;
}
.card a:hover {
    color: #000;
}

  
@media (min-width: 769px) {
.home-img {
    width: 80vw;
    margin: auto;
    margin-top: 10px;
}
.courses-cards {
    position: relative;
}
.card {
    width: 40vw;
}
.card:hover {
    background-color: rgba(0,0,0,0.3);
    transition: all 450ms;
}
}

@media (min-width: 1200px) {
    .courses-title{
        text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    }
    .home-details-text{
        text-align: center;
        width: 40%;
        height: 200px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
        padding-bottom: 10px;
        border-radius: 10px;
    }
    .courses-cards{
        flex-wrap: nowrap;
    }
    .card {
        width: 20vw;
    }
    .home-img {
        width: 40vw;
        margin: 10px 0;
    }
    .home-details {
        flex-direction: row;
        justify-content: center;
        justify-content: space-around;
    }
    .home-details-text {
        flex-wrap: wrap;
        align-content: center;
    }
    .home-button {
        margin: 5px 150px;
    }
}

@media (min-width: 1400px) {
    .home-details-text{
        width: 30%;
    }
}

