* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../img/background.jpg);
}

.logo {
    background-image: url(/img/logo-moidi.svg);
    background-size: cover;
    width: 100px;
    height: 70px;
}

.navbar {
    font-size: 12px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.navbar-left div{   
    text-transform: capitalize;
    font-weight: 100;
}

.navbar-left>*,
.navbar-right>*{
    margin: 3px;
}

.navbar-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.navbar-left a {
    text-decoration: none;
    color: #000;
}
.navbar-right {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navbar-right button {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color:#fff;
}

.registrarse{
    background-color: #Eec8c7;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
}

.registrarse a {
    text-decoration: none;
    color: #c24844;
}

.inises {
    background-color: #c24844; 
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    
}

.inises a {
    text-decoration: none;
    color: white;
}
  
.buscar {
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
    padding: 5px;
}
/* .shop-cart-icon {
    position:relative;
} */

.shop-cart-icon i {
    /* position: relative; */
    right: 3px;
    font-size: 20px;
    padding: 5px;
    border: #000 2px solid;
    border-radius: 50px;
}

.shop-cart-icon a {
    text-decoration: none;
    color: #000;
    /* position: fixed; */
    /* z-index: 100; */
}
/* 
.main-content {
    text-align: center;
    position: relative;
} */

.home-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.home-title {
    font-size: 50px;
    font-weight: 600;
    margin: 30px 10px;
}

.home-text {
    font-size: 16px;
    text-align: center;
}

.home-button {
    border: none;
    border-radius: 5px;
    background-color:#C24844;
    color: #ffffff;
    font-size: 14px;
    padding: 8px;
    margin-left: 150px;
}

.home-img {
    width: 100vw;
    margin-top: 10px;
}

.section-courses-now, .section-courses-next {
    width: 90vw;
    text-align: left;
    margin: auto;
}

.courses-title {
    margin: 30px 0;
}

.courses-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 90vw;
    box-shadow: 0px 0px 10px rgb(100 , 100 , 100);
    margin-bottom: 20px;
}

.card a {
    text-decoration: none;
    color: #000;
}

/* .section-courses-now card:hover {
    background-color: rgba(255,0,0,0.5);
} */

.whatsapp-icon {
    font-size: 70px;
    padding: 0 30px 40px;
}

/* .anchor-wsp-icon {
    position: fixed;
    width: 200px;
    z-index: 1000;
} */
/* No me sale hacer el icono con posición fixed
    .whatsapp-icon i {
    position: fixed;
    
} */

.footer-container {
    position: relative;
}

/* .whatsapp-icon {
    position: relative;
} */

.whatsapp-icon a {
    text-decoration: none;
    color: #000;
    z-index: 100;
    /* position: fixed; */
}

.whatsapp-icon i {
    position: relative;
}

.footer-content {
    background-color: #000;
    padding: 3px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin: 0;
}
.footer-content ul {
    margin: 0;
}

.footer-content i {
    color: #ffffff;
    font-size: 20px;
    margin: 8px 0;  
}

@media (max-width: 768px) {
    .navbar-left {
      display: none;
    }
  }
  
@media (min-width: 769px) {
/* .burger-menu {
    display: none;
}*/
.navbar-left>* {
    margin: 0 5px;
}
.navbar-right>* {
    margin: 0 2px;
}
.home-img {
    width: 80vw;
    margin: auto;
    margin-top: 10px;
}
.courses-cards {
    position: relative;
}
.card {
    width: 40vw;
}
.card:hover {
    background-color: rgba(0,0,0,0.3);
    transition: all 450ms;
}
.footer-content {
    display: flex;
    justify-content:space-between;
    padding: 0 15px;
}
.footer-content p {
    padding: 10px 0;
}
}

@media (min-width: 1200px) {
.logo {
    width: 120px;
    height: 90px;
}
.navbar {
    font-size: 16px;
}
.navbar-left>* {
margin: 0 10px;
}
.navbar-right>* {
margin: 0 5px;
}
.main-content {
    position: relative;
}
.courses-cards{
    flex-wrap: nowrap;
}
/* Animación de aumento para cursos destacados
    .now-courses:hover {
    animation: aumentar 1s ease-in-out alternate;
}
@keyframes aumentar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
} */
/* Ejemplo de como hacer la trancisión para proximos cursos /Caja - Próximamente
    .next-courses p {
    background-color: rgba(0,0,0,0.7);
    color: #ffffff;
    margin: 0;
    padding: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 450ms;
}
.next-courses {
    
} */
.card {
    width: 20vw;
}
.home-img {
    width: 40vw;
    margin: 10px 0;
}
.home-details {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}
.home-details-text {
    flex-wrap: wrap;
    align-content: center;
}
.home-button {
    margin: 5px 150px;
}
}

