<!DOCTYPE html>
<html lang="es">
<head>
  <%-include('partials/head') %> 
  <link rel="stylesheet" href="/css/carrito-compras.css">
</head>
<body id="body" class="body">

  <%-include('partials/header') %>
  
<main>
<div class="marco"><a name="title-shop-cart"></a>
  <div class="container">
    <div class="contain-hed">
      <h1 class="title"><%= title %></h1>
    <div href="/" class="carrito-img" href=""></div>
    </div>
      <div id="principal" class="container-products">
          <!-- <div class="object1">
              <div class="trash-obj1"></div>
              <div class="logo-obj1"></div>
              <div class="info">
                <div class="c">Curso de Inglés</div>
                <div class="n">Nivel Básico</div>
                <div class="p">Profesor/a: Jon Snow</div>
                <div class="price">$2.400.00</div>
              </div>  
            </div> -->
      </div>
    <div class="cont-tot">
      <div class="totals">
    <ul class="totals-list">
      <li>Subtotal </li>
      <li id="sub">$0</li>
      <li>Total</li>
      <li id="total">$0</li>
    </ul>
    </div>
    </div>

    <div class="cont-butt">
      <a class="cuotas">O hasta 6 cuotas de <label id="cuotas">$0</label></a>
      <div>
        <button class="comprar" type="button" placeholder="Comprar">Comprar</button>
        <a href="/producto/carrito-compras" id="vaciar" class="comprar">Vaciar</a>
      </div>
    </div>
  </div>
</div>
</main>

<%- include('partials/footer') %> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>