<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('partials/head') %> 
    <link rel="stylesheet" href="/css/traductor.css">
    <title>Traductor</title>
  </head>

<body class="body">
  <%- include('partials/header') %> 
  
  <main>
    <div class="main-content">
      <h1>Traductor</h1>
    </div>
    <div class="sitio-en-obra">
      <img class="img-sitio" src="/img/sitio-en-obra.png" alt="Sitio en Obra">
    </div>
  </main>

  <%- include('partials/footer') %> 

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>