
<header class="navbar">
        <a href="/"><svg class="logo" href="/img/logo-moidi.svg"></svg></a>
        <div class="navbar-left">
          <div class="cursos"><a href="/producto/cursos">Cursos</a></div>
          <div class="descargables"><a href="/producto/descargables">Descargables</a></div>
          <div class="traductor"><a href="/traductor">Traductor</a></div>
          <div class="suscripciones"><a href="/producto/suscripciones">Suscripciones</a></div>
          <div class="contacto"><a href="/contacto">Contacto</a></div>
          <div class="idioma">Idioma</div>
          <div><a href="/producto/cargar">Cargar producto</a></div>
        </div>
        
        <div class="navbar-right">
          <input type="search" class="buscar" placeholder="Buscar"><button class="magnifying-glass-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
          <div class="registrarse"><a href="/usuario/registro">Registrarse</a></div>
          <div class="inises"><a href="/usuario/login">Iniciar sesión</a></div>
            <div class="shop-cart-icon"> 
              <a href="/producto/carrito-compras"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>  
        </div>
</header>