<head>
  <%-include('./head') %> 
  <link rel="stylesheet" href="/css/header.css">
  <title>header</title>
</head>

<header class="navbar">
  <a href="/"><svg class="logo" href="/img/logo-moidi2.svg"></svg></a>
  
  <!-- --------------------------------------------------------------- -->
  <div class="navbar-right" id="item">
    <div class="btn-buscar">
      <input type="search" class="buscar" placeholder="Buscar"></button>
      <button class="magnifying-glass-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <div class="mundo">
      <i class="fa-solid fa-earth-americas"></i>
      <div class="idiomas">
          <label >Español</label>
          <label >Inglés</label>
          <label >Portugués</label>
      </div>
    </div>
    <div class="registrarse"><a href="/usuario/registro">Registrarse</a></div>
    <div class="inises"><a href="/usuario/login">Iniciar sesión</a></div>
    <div class="shop-cart-icon"> 
        <a href="/producto/carrito-compras"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>  
  </div>

  <!-- -------------------------------------------------------------- -->
  <nav>
    <label for="menu" class="nav-img">
      <img src="../../../img/menu.svg" class="logo-img">
    </label>
    <input type="checkbox" class="input" id="menu" >
    <div class="nav_menu" >
      <div class="conte">
        <a href="/usuario/registro">Registrarse</a>
        <a href="/usuario/login">Iniciar sesión</a>
        <a href="/producto/cursos">Cursos</a>
        <a href="/producto/descargables">Descargables</a>
        <a href="/traductor">Traductor</a>
        <a href="/producto/suscripciones">Suscripciones</a>
        <a href="/contacto">Contacto</a>
      </div>
    </div>
  </nav>

  <!-- nav para pantalla grande -->
  <div class="contend">
    <a class="i" href="/producto/cursos">Cursos</a>
    <a class="i" href="/producto/descargables">Descargables</a>
    <a class="i" href="/traductor">Traductor</a>
    <a class="i" href="/producto/suscripciones">Suscripciones</a>
    <a class="i" href="/contacto">Contacto</a>
    <div class="mundo" id="mundo2">
      <a id="administar">Administrar <i class="fa-solid fa-angle-down"></i></a>
      <div class="idiomas" id="idioma">
        <a href="/producto/cargar">Cargar Curso</a>
        <a href="/producto/editar">Editar Curso</a>
        <a href="/producto/eliminar">Eliminar Curso</a>
    </div>
    </div>
    <div class="mundo" id="mundo3">
      <i class="fa-solid fa-earth-americas"></i>
      <div class="idiomas">
          <label >Español</label>
          <label >Inglés</label>
          <label >Portugués</label>
      </div>
    </div>
  </div>

  <!-- para 1300 en adelante -->
  <div class="navbar-right" id="item2">
    <div class="btn-buscar">
      <input type="search" id="buscar2" class="buscar" placeholder="Buscar"></button>
      <button class="magnifying-glass-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
  
    <div class="registrarse"><a href="/usuario/registro">Registrarse</a></div>
    <div class="inises"><a href="/usuario/login">Iniciar sesión</a></div>
    <div class="shop-cart-icon">
        <a href="/producto/carrito-compras"><i class="fa-solid fa-cart-shopping"></i></a>
    </div>  
  </div>
  
</header>