<!DOCTYPE html>
<html lang="es">
  <head>
    <%-include('../partials/head') %> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/perfil.css">
    <title>Perfil</title>
  </head>

<body class="body">
  
  <%-include('../partials/header') %>

<main>
  <div class="marco">
    <%- include('../partials/navPerfil.ejs') %> 
    <div class="right">
      <section class="cont-clases">
        <div class="clases-btn">
          <label for="virtual" class="virtual"><i class="fa-solid fa-video"></i>Cursos Virtual</label>
          <label for="presencial" class="precencial"><i class="fa-solid fa-school"></i>Cursos Presencial</label>
        </div>
        <input id="virtual" name="clases" type="radio" >
        <div class="cont-virtual">
          <!-- < % for(let c of cursoVirtual) { %>  -->
            <!-- <div class="clases-virtuales">  -->
              <img src=""> <!-- < %= c.img % >  -->
              <!-- <div class="info-virtual"> -->
                <h3><!-- < %= c.titulo %>  --></h3>
                <label><!--  < %= c.profesor %> --> </label>
                <!-- <span> < %= c.nivel %> -</span> -->
                <!-- <a href="#">Ver curso</a> -->
              </div>
            </div>
          <!-- < % } %>  -->
        </div>
        <input id="presencial" type="radio" name="clases" checked>
        <div class="cont-presencial"> 
          <!-- < % for(let b of cursosPre) { %>  -->
            <!-- <div id="cls-pre" class="clases-virtuales">
              <img src="">  < %=b.img %>  
              <div class="info-virtual">
                <h3>< %= b.titulo %> --> </h3>
                <label> <!-- < %= b.profesor %> --> </label>
                <span>   <!-- < %= b.nivel %>  --></span>
                <!-- <a href="#">Ver curso</a> -->
              </div>
            </div> -->
          <!-- < % } %>  -->
        </div>
      </section>
    </div>
  </div>
</main>
  <%-include('../partials/footer') %>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/js/swper.js"></script>
</html>